<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script>
</head>

<h1>The Form</h1>

<script  language=javascript>  
<!-- Initialize Variables -->
var text = [ ["The", "dog", "is", "good."], 
             ["The", "cat", "is", "better."] ]
var startWord = 1;
var wordGap = 100;
var div_index = 1;

var temp_sentence = "";
var display_text = [];
var display_text_index = 0;

var text_array = [];
var input_word_index = 0;

var array_index = 0;
var name = "";
var input_word = [];
var data = [name,
			input_word
			];
</script>

<script  language=javascript>  
function check()
{
    if(event.keyCode == 13){
	   var word = document.getElementById("inputWord").value;
           var word_number = (input_word_index*wordGap) + startWord + input_word_index;
           input_word_index++;
	   data[1][array_index] = [ text_array[word_number].number,word];
	   if(word == "yes"){
		  alert("Match");
	   }
	   else{
		  alert(data[1][array_index]);
	   }
	   
	   array_index++;
	   $("#main_text").append( display_text[array_index] );
	   document.getElementById("inputWord").value = "";
	   
	   if(array_index + 2> display_text.length){
		   document.getElementById("input_text").style.display = "none";
                   document.getElementById("user_display").style.display = "inline";

                   form = document.forms['FirstForm'];
                   form.elements['data'].value = JSON.stringify(data); 
	   }
	}
}  

function dispaly_result()
{
	$("#result").text(data[1]);
}

$(document).ready(function(){
    //Load text to array
    {% for i in range (0, textlen): %}
        var the_index = {{i}};
        text_array[the_index] = { "number" : '{{text[i][0]}}', "word": '{{text[i][1]}}' };
	//$("#main_text").append( text_array[the_index].number +  text_array[the_index].word );
    {% endfor %}

     var guess_word_index = startWord;
    for(var i = 0; i < text_array.length; i++){
        if(i == guess_word_index){
		guess_word_index = guess_word_index + wordGap + 1;
					
		display_text[display_text_index] = temp_sentence;
		display_text_index++;
				
		temp_sentence = "<u>" + text_array[i].word + "</u>" + " ";
	}
	else{
		temp_sentence = temp_sentence +  text_array[i].word + " ";
	}
    }
    display_text[display_text_index] = temp_sentence;
	
	$("#main_text").append( display_text[0]);
	
});
</script> 
<form action="" method="post" name="FirstForm">
    {{form.hidden_tag()}}
	
    <p>
    <div id="main_text" style="display:inline">
    </div>
    
    <div id="input_text" style="display:inline">
    	<input type="text" id="inputWord" onkeydown="check()">
    </div>
    </p>
    
    <p id="result">
    </p>

	<p><input type= button value="Display Result" onclick="dispaly_result()"></p>

    <!--input id="Button1" type="button"  value="Check" onclick="check()" /-->
    <div id="user_display" style="display:none">
        <p>
          What is your name?:
          {{form.name(size=20)}}
        </p>
    <p><input type= button value="Submit!" onclick="this.form.submit();"></p>
    </div>
    <div id="words_display" style="display:inline">
        {{form.data}}
        
        <input type="text" name="inputWord2" id="inputWord2" onkeydown="check()">
    </div>
</form>
